/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
body {
  background-image: url("https://i.imgur.com/6R0Q1DU.jpg");
  background-size: 150px;
  animation: moveIt 20s linear infinite;
}
@keyframes moveIt {
  from {background-position: bottom right;}
  to {background-position: top left;}
}